<h1>About Us</h1>

<p> 
We strive to help you learn Git. It's our passion!
</p>

<p>
This assignment is kinda confusing.
</p>

<p> We'll muddle on through</p>
<p>
This is the next stepppppppp!
</p>

<p>
<%= link_to 'Home', home_path %>
</p>